h1{color: magenta;}
li {
    list-style-type: none;
}
    
.mainmenu{
    width: 320px;
    padding-top: 24px;
    padding-right: 249px;
    display: flex;
    justify-content: space-between;
    background-color: grey;
    flex-grow: 1;
    flex-direction: row;
}

.logo {
    width: 34px;
    height: 100px;
    padding-left: 136px;
    padding-top: 25px;
    box-sizing: border-box;
    flex-grow: 1;
}

nav {
    display: flex;
    justify-content: space-between;
}

.menu{

}